@media screen and (max-width: 1199px) {


	
}

@media screen and (max-width: 689px) {
	html, body {
		font-size: 16px;
	}

	.big-container {
		padding-left: 16px;
		padding-right: 16px;
	}

	#menu,
	#menu a {
		width: 48px;
	}
	#menu a {
		padding: 0;
	}
	#menu a span {
		display: none;
	}
	#menu a:before {
		right: 24px;
	}
	#menu .clip {
		right: 0;
	}
	#menu .clip-path {
		right: 8px;
	}

	.hidden-sm {
		display: none !important;
	}
}

@media screen and (max-width: 439px) {
	html, body {
		font-size: 14px;
	}
}