@media screen and (max-width: 1399px) {
	#artinmov_frame_9,
	#artinmov_frame_10 {
		display: none;
	}
}

@media screen and (max-width: 1199px) {
	#artinmov_frame_7,
	#artinmov_frame_8 {
		display: none;
	}

	#hexkingdom_tile_3,
	#hexkingdom_tile_2 {
		display: none;
	}
}

@media screen and (max-width: 689px) {
	#artinmov_frame_6,
	#artinmov_frame_5 {
		display: none;
	}

	#hexkingdom_tile_1 {
		display: none;
	}

	html, body {
		font-size: 16px;
	}

	.big-container {
		padding-left: 16px;
		padding-right: 16px;
	}

	/* #menu,
	#menu a {
		width: 48px;
	}
	#menu a {
		padding: 0;
	}
	#menu a span {
		display: none;
	}
	#menu a:before {
		right: 24px;
	}
	#menu .clip {
		right: 0;
	}
	#menu .clip-path {
		right: 8px;
	} */

	#mask-img {
      width: 180px;
	}

	#projects .section__block {
		flex-direction: column;
		justify-content: center;
	}
	
	#projects .section__content {
		width: auto;
		padding-top: 24px;
	}
	
	#projects .section__image {
		margin-left: -56px;
		margin-right: -56px;
	}

	.hidden-sm {
		display: none !important;
	}

	#footer {
		padding: 3em 0;
	}
}

@media screen and (max-width: 439px) {
	html, body {
		font-size: 14px;
	}

	#artinmov_frame_4 {
		display: none;
	}

	#hello h1 {
		font-size: 2em;
	}

	#contact_form {
		padding: 30px;
	}

	/* #contact_form h2 { */
		/* font-size: ; */
	/* } */

	.project h3 {
		font-size: 2.5rem;
	}

	.project .btn-container {
		margin-top: 1.25rem;
	}

	#footer {
		padding: 1.6em 0;
	}
}