*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	height: 100%;

	background: #181818;

	color: #ffffff;
	font-family: 'Heebo', Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.4;
}

.big-container,
.small-container {
	margin: 0 auto;
}
.big-container {
	width: 100%;
	max-width: 960px;
	padding: 0 24px;
}
.small-container {
	max-width: 600px;
}

.section {
	overflow: hidden;
	position: relative;
}

.section-block {
	padding: 20vh 0;
	display: flex;
	align-items: center;
	min-height: 100vh;
}

img {
	display: block;
	width: 100%;
}

/*****************************************/
/*                 TYPO                  */
/*****************************************/

h1 {
	font-size: 1.3888em;
	font-weight: 700;
	line-height: 56px;
	font-weight: 200;
}

h2 {
	font-size: 48px;
	text-align: center;
	line-height: 168px;
}

a {
	color: #a4a4a4;
	text-decoration: none;

	transition: color 0.30s ease-out;
}
	a:hover {
		color: white;
		text-decoration: none;
	}

p {
	margin: 0 0 0.62em;
}
p:last-child {
	margin-bottom: 0;
}

/* strong {
	color: #333333;
} */

.section-white {
	background-color: white;
	color: #7f7f7f;
}

/*
/* MENU
/******************/

.menu {
	height: 100%;
	right: 0;
	top: 0;
	width: 240px;
	position: absolute;
	font-size: 1rem;
	clip: rect(0, auto, auto, 0); }
	.menu ul {
		height: 100%;
		top: 0;
		right: 32px;
		position: fixed;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	.menu li {
		position: relative;
	}
	.menu a {
		display: block;
		padding: 12px 64px 12px 24px;
		text-decoration: none;
		color: #a4a4a4;
		text-align: right;
		position: relative;
	}
		.menu a:before {
			width: 6px;
			height: 6px;
			background: #a4a4a4;
			transition: background 0.30s ease-out;
			content: '';
			position: absolute;
			right: 32px;
			top: 50%;
			transform-origin: center center;
			transform: translate3d(50%,-50%,0) rotate(45deg);
		}
		.menu svg {
			position: absolute;
			right: 16px;
			width: 32px;
			top: 50%;
			
			transform: translate3d(0,-50%,0);
		}
		.menu .menu-selection {
			fill: transparent;
			stroke: white;
			stroke-width: 2px;
			stroke-dasharray: 64;
			stroke-dashoffset: 64;

			transition: stroke-dasharray 1s ease-out,
							stroke-dashoffset 1s ease-out;
		}
		.menu .current .menu-selection {
			stroke-dasharray: 64;
			stroke-dashoffset: 0;
		}
	.menu .current a {
		color: white;
	}
		.menu .current a:before {
			background: white;
		}
	.menu a:hover {
		color: white;
	}
	.menu a:hover:before {
		background: white;
	}

.section-white .menu a {
	color: #b7b7b7;
}
	.section-white .menu .current a {
		color: #181818;
	}
	.section-white .menu a:before {
		background: #bfbfbf;
	}
		.section-white .menu .current a:before {
			background: #181818;
		}
		.section-white .menu a:hover {
			color: #181818;
		}
		.section-white .menu a:hover:before {
			background: #181818;
		}
	.section-white .menu .menu-selection {
		stroke: #181818;
	}
/*
/* Hello
/******************/

#hello .section-block {
	padding: 20vh 0px;
	font-size: 36px;
}
#hello .hello-anim {
	position: relative;
	padding-top: 3.2em;
}
#hello h1 {
	margin-bottom: 0;
	color: white;
	position: absolute;
	top: 50%;
	left: 0;

	transition: top 1.50s cubic-bezier(.19,.07,.41,.95),
					color 1.50s cubic-bezier(.19,.07,.41,.95);
}

#hello p {
	opacity: 0;
	transform: translate3d(0,50%,0);
	transition: all 2s cubic-bezier(.08,.64,.41,.95);
}

#hello.play h1 {
	color: #a4a4a4;
	top: 0;
}

#hello.play p {
	transform: translate3d(0,0,0);
	opacity: 1;
}

/*
/* Projects
/******************/

/* #projects {
	padding: 20vh 0px;
} */