*,
*:before,
*:after {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

html, body {
   height: 100%;

   background: #111111;

   color: #ffffff;
   font-family: 'Heebo', Arial, Helvetica, sans-serif;
   font-size: 20px;
   font-weight: 300;
   line-height: 1.4;
}

.container-big,
.container-small {
   margin: 0 auto;
   width: 100%;
   padding-left: 24px;
   padding-right: 24px;
}
.container-big {
   max-width: 1320px;
}
.container-small {
   max-width: 740px;
}

.section {
   overflow: hidden;
   position: relative;
   
}

.section__block {
   padding: 2em 0;
   min-height: 100vh;
   min-height: calc(var(--vh, 1vh) * 100);
   display: flex;
   flex-direction: column;
   justify-content: center;
}

/* .section__content {

} */

.section__white {
   /* background-color: white; */
   color: #7f7f7f;
   position: relative;
   overflow: hidden;
}

.section__pause {
   margin-bottom: 100vh;
   margin-bottom: calc(var(--vh, 1vh) * 100);
}

#overlay {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   display: block;
   background: #fff;
   opacity: 0;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

/*****************************************/
/*                 TYPO                  */
/*****************************************/

h1 {
   font-size: 1.5em;
   font-weight: 800;
   line-height: 56px;
}

h2 {
   font-size: 48px;
   text-align: center;
   color: #111111;
   font-weight: 800;
}

a {
   color: #a4a4a4;
   text-decoration: none;

   transition: color 0.30s ease-out;
}
   a:hover {
      color: white;
      text-decoration: none;
   }

p {
   margin: 0 0 0.62em;
}
p:last-child {
   margin-bottom: 0;
}

/* strong {
   color: #333333;
} */

/*
/* Hello
/******************/

#hello .section__block {
   font-size: 1.17rem;
}

#hello h1 {
   margin-bottom: 1.62rem;
   color: white;
   width: 50%;
   font-size: 2em;
   line-height: 1.10;
   transform-origin: left top;
   transform: translate3d(0,100%,0) scale3d(2,2,1);
   /* top: calc(50% - 0.625em); */
   left: 0;
}

#hello p {
   opacity: 0;
   transform: translate3d(0,50px,0);
}

/*
/* Projects
/******************/

/* #projects { */
   /* position: relative;
   top: -50%; */
/* } */

.project {
   position: relative;
   z-index: 0;
   overflow: hidden;
   height: 100vh;
   height: calc(var(--vh, 1vh) * 100);
}

.project h3 {
   font-size: 2.62rem;
}

.project .btn {
   display: inline-block;
   vertical-align: top;
   margin-top: 1rem;
   border-radius: 24px;
   line-height: 24px;
   padding: 12px 28px;
   font-weight: 500;
   color: #111111;
   background-color: white;
}

#projects .section__block {
   height: 100%;
   flex-direction: row;
   align-items: center;
}

#projects .section__content {
   flex-grow: 1;
   font-weight: 500;
   transform: translate3d(0,50px,0);
}

#projects .pin-wrapper {
   width: 100%;
   height: 100%;
   top: 0 !important;
   -webkit-transform: translateZ(0);
   transform: translateZ(0);
}

#projects .scrollmagic-pin-spacer {
   clip: rect(auto, auto, auto, auto);
   position: absolute !important;
}

#project__hexkingdom {
   margin-bottom: 100vh;
   margin-bottom: calc(var(--vh, 1vh) * 100);
}
   #project__hexkingdom .btn {
      color: #51a8e4;
   }
   #project__hexkingdom .pin-wrapper {
      background: #51b2ed;
      background: -webkit-linear-gradient(to bottom , #009be0 0%,#ccd0f1 100%);
      background: linear-gradient(to bottom , #009be0 0%,#ccd0f1 100%);
      color: white;
      
      -webkit-mask: url(../img/work-mask.svg) no-repeat;
      mask: url('../img/work-mask.svg') no-repeat;
      -webkit-mask-position: 50% 50%;
      mask-position: 50% 50%;
      -webkit-mask-size: 360px;
      mask-size: 360px;

      filter: brightness(0);
   }

#project__datakillers .btn {
   color: #ca0745;
}
#project__datakillers .pin-wrapper {
   background: rgb(255, 0, 78);
   background: -webkit-linear-gradient(to bottom, rgb(255, 0, 78) 0%, rgb(241, 47, 106) 100%);
   background: linear-gradient(to bottom, rgb(255, 0, 78) 0%, rgb(241, 47, 106) 100%);
   color: white;
}

#project__datakillers svg {
   position: absolute;
   z-index: 0;
   bottom: 0;
   left: 0;
   height: 100%;
   width: 100%;
}

#project__datakillers svg .data-line {
   stroke: rgba(103, 28, 51, 0.36);
   stroke-width: 9;
   height: 0;
   /* transform: scaleY(0); */
   transform-origin: bottom center;
}



#project__artinmov .pin-wrapper {
   background: #200409;
   background: -webkit-linear-gradient(to bottom, #151515 0%, #400b11 100%);
   background: linear-gradient(to bottom, #151515 0%, #400b11 100%);
   color: white;
}

#project__artinmov .btn {
   color: #200409;
}


/*
/* footer
/******************/

#footer {
   background: #f4f6f9;
   color: #7f7f7f;
   padding: 5em 0;
   position: relative;
   font-size: 0.85rem;
}


/*
/* MENU
/******************/

/* #menu {
   right: 0;
   top: 50%;
   top: calc(var(--vh, 1vh) * 50);
   transform: translate(0,-50%);
   z-index: 10;
   position: fixed;
   font-size: 1rem;
}
   #menu ul {
      display: flex;
      justify-content: center;
      flex-direction: column;
   }
   #menu li {
      position: relative;
   }
   #menu a {
      display: block;
      padding: 12px 64px 12px 24px;
      line-height: 24px;
      height: 48px;
      text-decoration: none;
      color: #a4a4a4;
      text-align: right;
      position: relative;
      z-index: 1;
      outline: none;
   }
      #menu a:before {
         width: 6px;
         height: 6px;
         background: #a4a4a4;
         transition: background 0.30s ease-out;
         content: '';
         position: absolute;
         right: 32px;
         top: 50%;
         transform-origin: center center;
         transform: translate3d(50%,-50%,0) rotate(45deg);
      }
      #menu .clip-path {
         position: absolute;
         right: 16px;
         top: 0;
         transition: clip-path 0.40s ease-out;
         clip-path: polygon(16px 11px, 20px 14px, 32px 14px, 32px 34px, 20px 34px, 16px 38px, 12px 34px, 0px 34px, 0px 14px, 12px 14px);
      }
      #menu svg {
         width: 32px;
         pointer-events: none;
      }
      #menu polyline {
         fill: transparent;
         stroke: white;
         stroke-width: 2px;
         stroke-miterlimit:10;
      }
      #menu .current #menu-selection {
         stroke-dasharray: 64;
         stroke-dashoffset: 0;
      }
   #menu .current a {
      color: white;
   }
      #menu .current a:before {
         background: white;
      }
   #menu a:hover {
      color: white;
   }
   #menu a:hover:before {
      background: white;
   }

#menu.menu-white a {
   color: #cccfd4;
}
   #menu.menu-white .current a {
      color: #111111;
   }
   #menu.menu-white a:before {
      background: #cccfd4;
   }
      #menu.menu-white .current a:before {
         background: #111111;
      }
      #menu.menu-white a:hover {
         color: #111111;
      }
      #menu.menu-white a:hover:before {
         background: #111111;
      }
   #menu.menu-white polyline {
      stroke: #111111;
   } */