@import "mixins";
@import "variables";
@import "root";
@import "reset";
@import "base";

.container-small {
	max-width: 528px;
}

/* */

#content {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 24px;
	padding-bottom: 24px;
}

svg {
	width: 100%;
	max-width: 480px;
	margin: 0 auto 2rem;
}
