@import "variables";
@import "fonts";
@import "animations";

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background: var(--dark-bg);

    color: var(--dark-color);
    font-family: $sans-serif-font-family;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    padding: 0.25rem var(--container-padding);
    mix-blend-mode: exclusion;
}

#header .logo {
    display: block;
    padding: 0.25rem 0.75rem;
    margin-left: -0.75rem;
    color: transparent;
    font-size: 2rem;
    background: var(--dark-highlight);
    background-image: linear-gradient(90deg, var(--dark-color) 50%, var(--dark-highlight) 50.01%);
    background-clip: text;
    background-size: 200% 100%;
    background-position: 0%;
    transition: background-position 0.4s ease-out;

    &:hover {
        background-position: -100%;
    }
}

.container-fluid,
.container-big,
.container-small {
    margin: 0 auto;
    width: 100%;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
}

.container-big {
    max-width: 1308px;
}

.container-small {
    max-width: 720px;
}

.btn-container {
    margin-top: 1.6rem;

    *:last-child {
        margin-right: 0;
    }

    > * + * {
        margin-left: var(--grid-gap);
    }
}

.btn {
    --btn-height: 56px;
    --btn-color: var(--dark-highlight);
    --btn-bg: var(--primary-color);
    --btn-border-color: transparent;
    --btn-color-hover: var(--dark-bg);
    --btn-bg-hover: var(--dark-highlight);
    --btn-border-color-hover: var(--btn-border-color);

    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin-top: 0.38rem;
    padding: 8px 24px;
    height: var(--btn-height);
    line-height: 1.25;
    border: 2px solid var(--btn-border-color);
    border-radius: 999px;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    text-decoration: none;
    -webkit-appearance: none;
    appearance: none;

    // font-family: $serif-font-family;
    cursor: pointer;
    color: var(--btn-color);
    background-color: var(--btn-bg);

    transition: color 0.2s ease-out, background 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
        color: var(--btn-color-hover);
        background-color: var(--btn-bg-hover);
        border-color: var(--btn-border-color-hover);
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

hr {
    margin: var(--spacer) 0;
    height: 1px;
    background-color: var(--dark-border-color);
    border: none;
}

/*
/* footer
/******************/

#footer {
    background-color: var(--dark-bg);
    color: var(--dark-color);
    padding: 1px 0 var(--spacer);
    position: relative;
    font-size: 0.85rem;

    hr {
        flex: 1 0 100%;
    }

    p {
        margin: 0;
    }

    &__content {
        display: flex;
        gap: var(--grid-gap);
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    ul {
        list-style-type: none;
        display: flex;
        gap: 10px;
    }

    a {
        color: inherit;

        &:hover {
            color: var(--dark-highlight);
        }
    }

    svg {
        display: block;
        width: 32px;
        height: auto;
    }

    path {
        fill: currentColor;
    }
}

/*****************************************/
/*                 TYPO                  */
/*****************************************/

h1, .h1, h2, .h2, h3, .h3 {
    color: var(--dark-highlight);
    font-weight: 200;
    line-height: 1.25;

    .heading-emphasis {
        display: block;
        padding-left: 0.5em;
    }
}

h1, .h1 {
    font-size: $font-size-h1;
    margin-bottom: 0.33em;
    line-height: 1;
}

h2, .h2 {
    font-size: $font-size-h2;
    margin-bottom: 0.5em;
}

h3, .h3 {
    font-size: $font-size-h3;
}

a {
    color: var(--dark-color);
    text-decoration: none;
    transition: color 0.3s ease-out;

    &:hover {
        color: white;
        text-decoration: none;
    }
}

p {
    margin: 0 0 0.8em;

    &:last-child {
        margin-bottom: 0;
    }
}
