$transition-default: 0.30s ease-out;
$dark: #111620;

:root {
   --primary-color: #1a58d7;

   --dark-bg: #{$dark};
   --dark-color: #b0bbd2;
   --dark-muted: #65718d;
   --dark-highlight: #ffffff;
   --dark-border-color: #36425a;
   --dark-border: 1px solid #36425a;

   --container-padding: 1.5rem;
   --grid-gap: 12px;
   --spacer: 5rem;

   @media screen and (min-width: 689px) {
      --grid-gap: 24px;
      --spacer: 3rem;
   }

   @media screen and (max-width: 439px) {
      --spacer: 2rem;
   }
}
