.d-block {
    display: block !important;
}

.d-flex {
    display: flex !important;
}

.justify-center {
    justify-content: center !important;
}

.align-center {
    align-items: center !important;
}

.align-end {
    align-items: flex-end !important;
}

.text-center {
    text-align: center !important;
}

.font-serif {
    font-family: $serif-font-family !important;
}
