@import "@scss/base/reset";
@import "@scss/base/variables";
@import "@scss/base/root";
@import "@scss/base/utilities";
@import "@scss/base/fonts";
@import "@scss/base/animate";
@import "@scss/base/lenis";

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background: var(--dark-bg);

    color: var(--dark-color);
    font-family: $body-font-family;
    letter-spacing: $sans-serif-letter-spacing;
    font-weight: $body-font-weight;
    font-size: 15px;
    line-height: 1.5;

    @media (min-width: $sm) {
        font-size: 18px;
    }
}

body {
    min-height: 100svh;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    font-size: $header-font-size;
    padding: $header-padding-y 0;
    mix-blend-mode: exclusion;
}

#header .logo {
    margin-left: -0.75rem;
}

.nav {
    display: flex;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.nav-link {
    display: block;
    font-weight: 700;
    padding: 0.25rem 0.5rem;

    &.active {
        color: var(--dark-highlight);
    }
}

@media (min-width: $sm) {
    .nav {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.logo {
    display: block;
    padding: 0.25rem 0.75rem;
    color: transparent !important;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    background: var(--dark-highlight);
    background-image: linear-gradient(90deg, var(--dark-color) 50%, var(--dark-highlight) 50.01%);
    background-clip: text;
    background-size: 200% 100%;
    background-position: 0%;
    transition: background-position $transition;

    &:hover {
        background-position: -100%;
    }
}

#top {
    padding-top: 0.65rem * 2 + 2rem;
}

.container-fluid,
.container-big,
.container-small {
    margin: 0 auto;
    width: 100%;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
}

.container-big {
    max-width: 1308px;
}

.container-small {
    max-width: 720px;
}

.btn-container {
    margin-top: 1.6rem;

    *:last-child {
        margin-right: 0;
    }

    > * + * {
        margin-left: var(--grid-gap);
    }
}

.btn {
    --btn-color: var(--dark-color);
    --btn-color-hover: var(--dark-highlight);
    --btn-border-width: 1px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin-top: 0.38rem;
    padding: 0.4em 1.5em;
    line-height: 1.25;
    border: none;
    background-color: transparent;
    box-shadow: inset 0 0 0 var(--btn-border-width) var(--btn-color);
    border-radius: 999px;
    font-size: 0.9rem;
    letter-spacing: 0.062em;
    font-weight: 700;
    text-transform: uppercase;
    outline: none;
    text-decoration: none;
    -webkit-appearance: none;
    appearance: none;

    cursor: pointer;
    color: var(--btn-color);

    transition: color $transition, box-shadow $transition;

    &:hover {
        color: var(--btn-color-hover);
    }

    &:hover,
    &:active,
    &:focus {
        --btn-border-width: 3px;
    }
}

.btn[type='submit'] {
    margin-top: 2rem;
}

.btn-link {
    --btn-color: inherit;

    padding-left: 0;
    padding-right: 0;
    border: none;
    border-radius: 0;
    box-shadow: inset 0 -2px 0 0 currentColor;
    transition: color $transition, box-shadow $transition;

    &,
    &:hover {
        background: none;
    }

    &:hover {
        --btn-color: var(--dark-highlight);
        box-shadow: inset 0 -4px 0 0 currentColor;
    }
}

.btn-circle {
    width: 2.66667rem;
    height: 2.66667rem;
    padding: 0.5rem;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    border: none;
    position: relative;
    box-shadow: inset 0 0 0 1px var(--dark-muted);
    transition: color $transition, box-shadow $transition;
    overflow: hidden;

    &:after {
        content: '';
        background: var(--dark-highlight);
        position: absolute;
        left: 4px;
        top: 4px;
        right: 4px;
        bottom: 4px;
        z-index: -1;
        border-radius: 50%;

        transform: translate3d(0, calc(100% + 8px), 0);
        transition: transform $transition;
    }

    &:focus, &:active, &:hover {
        color: var(--dark-bg);
        box-shadow: inset 0 0 0 2px var(--dark-highlight);

        &:after {
            transform: translate3d(0, 0, 0);
        }
    }
}

.hover-icon-effect {
    .icon {
        margin-left: 0;
        width: 0;

        transition: $transition;
        transition-property: width, margin-left;
    }

    &:hover {
        .icon {
            margin-left: 0.5em;
            width: $icon-size;
        }
    }
}

.icon {
    width: $icon-size;
    height: $icon-size;
    display: block;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

hr {
    margin: var(--spacer) 0;
    height: 1px;
    background-color: var(--dark-border-color);
    border: none;
}

.section {
    position: relative;

    &__fullheight {
        padding-top: 4svh;
        padding-bottom: 4svh;
        min-height: 100svh;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__block {
        padding-bottom: 2em;
    }

    &__white {
        color: #7f7f7f;
        position: relative;
    }

    &__pause {
        margin-bottom: 100svh;
    }
}

/*
/* footer
/******************/

#footer {
    background-color: var(--dark-bg);
    color: var(--dark-color);
    padding: 0;
    position: relative;
    font-size: $header-font-size;

    p {
        margin: 0;
    }

    .container-fluid {
        padding-top: var(--spacer);
        padding-bottom: $header-padding-y;
        gap: var(--spacer);
    }

    path {
        fill: currentColor;
    }
}

#footer__content {
    margin: $header-padding-y 0;
    gap: var(--grid-gap);
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#footer__content .js-sroll-to {
    bottom: 150%;

    @media (min-width: $sm) {
        bottom: 0;
    }
}

#footer__socials {
    font-size: 1.25rem;
}

.absolute-center-x {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

/*****************************************/
/*                 TYPO                  */
/*****************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    color: var(--dark-highlight);
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: 1.4;

    .heading-emphasis {
        display: block;
        padding-left: 0.5em;
    }
}

h1, .h1 {
    font-size: $font-size-h1;
    margin-bottom: 0.33em;
}

h2, .h2 {
    font-size: $font-size-h2;
    margin-bottom: 0.5em;
}

h3, .h3 {
    font-size: $font-size-h3;
}

h4, .h4 {
    font-size: $font-size-h4;
}

a {
    color: var(--dark-color);
    text-decoration: none;
    transition: color 0.3s ease-out;

    &:hover {
        color: white;
        text-decoration: none;
    }
}

p {
    margin: 0 0 0.5em;

    &:last-child {
        margin-bottom: 0;
    }
}

.footer_contact_link {
    font-size: calc((100vw - var(--container-padding) * 2) * 0.11);
}
