.full-height {
    min-height: 100svh !important;
}

.flex-grow {
    flex-grow: 1 !important;
}

.mt-auto {
    margin-top: auto !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-section {
    margin-top: 40svh !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.pt-section {
    padding-top: 20svh !important;
}

.py-section {
    padding-top: 20svh !important;
    padding-bottom: 20svh !important;
}

.bottom-0 {
    bottom: 0 !important;
}

.d-block {
    display: block !important;
}

.d-flex {
    display: flex !important;
}

.flex-column {
    flex-direction: column !important;
}

.flex-basis {
    flex: 1 0 0% !important;
}

.justify-center {
    justify-content: center !important;
}

.justify-between {
    justify-content: space-between !important;
}

.justify-end {
    justify-content: flex-end !important;
}

.align-start {
    align-items: flex-start !important;
}

.align-center {
    align-items: center !important;
}

.align-end {
    align-items: flex-end !important;
}

.text-center {
    text-align: center !important;
}

.fw-light {
    font-weight: 300 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.heading-font {
    font-family: $headings-font-family !important;
}

.ff-serif {
    font-family: $serif-font-family !important;
    font-weight: 400 !important;
    line-height: 0.92 !important;
}

.lh-serif {
    line-height: 0.75 !important;
}

.fs-huge {
    font-size: 10.8vw !important;
}

.text-primary {
    color: $primary-color !important;
}

.row {
    display: flex;
    gap: var(--grid-gap);
}

[class^=col] {
    flex: 1 1 33.33334%;
}

[class^=col-2] {
    flex-basis: 66.66667%;
}
