$font-size-h1: 4.5rem;
$font-size-h2: unquote("min(2.3rem, 10vw)");
$font-size-h3: 1.8rem;

$serif-font-family: "Nevrada Neue", serif;
$sans-serif-font-family: "Geist", Arial, sans-serif;
$sans-serif-letter-spacing: 0.01em;
$serif-letter-spacing: 0;

$easing: cubic-bezier(.23,.05,.34,1);
$transition: 0.30s $easing;
$dark: #111620;

$header-padding-y: 0.4rem;
$header-font-size: 0.875rem;

$icon-size: 1.25em;
