*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  background: var(--dark-bg);

  color: var(--dark-color);
  font-family: 'Manrope', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
}

.container-big,
.container-small {
  margin: 0 auto;
  width: 100%;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.container-big {
  max-width: 1360px;
}

.container-small {
  max-width: 720px;
}

.btn-container {
  margin-top: 1.6rem;

  *:last-child {
    margin-right: 0;
  }

  > * + * {
    margin-left: var(--grid-gap);
  }
}

.btn {
  --btn-height: 56px;
  --btn-color: var(--dark-highlight);
  --btn-bg: var(--primary-color);
  --btn-border-color: transparent;
  --btn-color-hover: var(--dark-bg);
  --btn-bg-hover: var(--dark-highlight);
  --btn-border-color-hover: var(--btn-border-color);

  display: inline-block;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  margin-top: 0.38rem;
  padding: 8px 24px;
  height: var(--btn-height);
  line-height: 1.25;
  border: 1px solid var(--btn-border-color);
  border-radius: calc(var(--btn-height) / 2);
  letter-spacing: 0.02em;
  font-size: 1.1rem;
  font-weight: 400;
  outline: none;
  text-decoration: none;
  -webkit-appearance: none;
  appearance: none;

  font-family: 'DM Serif Text', serif;
  cursor: pointer;
  color: var(--btn-color);
  background-color: var(--btn-bg);

  transition: color 0.20s ease-out, background 0.20s ease-out;

  &:hover,
  &:active,
  &:focus {
    color: var(--btn-color-hover);
    background-color: var(--btn-bg-hover);
    border-color: var(--btn-border-color-hover);
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

hr {
  margin: var(--spacer) 0;
  height: 1px;
  background-color: var(--dark-border-color);
  border: none;
}

.anim-appear {
  opacity: 0;
  overflow: hidden;
  display: block;
  position: relative;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;

  w {
    white-space: nowrap;
  }

  w, l {
    transform-origin: 0 100%;
    display: inline-block;
    line-height: 1em;
  }
}

/*
/* footer
/******************/

#footer {
  color: var(--dark-color);
  padding: 0 0 var(--spacer);
  position: relative;
  font-size: 0.85rem;

  hr {
    flex: 1 0 100%;
  }

  p {
    margin: 0;
  }

  &__content {
    display: flex;
    gap: var(--grid-gap);
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
  }

  a {
    color: var(--dark-highlight);

    &:hover {
      color: var(--dark-color);
    }
  }

  svg {
    display: block;
    width: 32px;
    height: auto;
  }

  path {
    fill: currentColor;
  }
}

/*****************************************/
/*                 TYPO                  */
/*****************************************/

h1, h2, h3 {
  // letter-spacing: 0.03em;

  .cursive {
    display: block;
    padding-left: 0.5em;
  }
}

h1 {
  color: var(--dark-highlight);
  font-size: 2.8em;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 0.33em;
}

h2 {
  font-size: unquote('min(2.5em, 10vw)');
  line-height: 1;
  color: var(--dark-highlight);
  font-weight: 300;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.8em;
  line-height: 1;
  color: var(--dark-highlight);
  font-weight: 200;
}

a {
  color: var(--dark-color);
  text-decoration: none;
  transition: color 0.30s ease-out;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

p {
  margin: 0 0 0.8em;

  &:last-child {
    margin-bottom: 0;
  }
}