$transition-default: 0.30s ease-out;

:root {
   --primary-color: #1a58d7;

   --dark-bg: #111620;
   --dark-color: #8c99b5;
   --dark-highlight: #ffffff;
   --dark-border-color: #36425a;
   --dark-border: 1px solid #36425a;

   --container-padding: calc(var(--grid-gap) * 2);
   --grid-gap: 12px;
   --spacer: 5rem;

   @media screen and (min-width: 689px) {
      --grid-gap: 24px;
      --spacer: 3rem;
   }

   @media screen and (max-width: 439px) {
      --spacer: 2rem;
   }
}