@import "mixins";
@import "root";
@import "reset";
@import "base";
@import "game";

#body {
   padding-top: 6em;
}

h1 {
   overflow: hidden;
   position: relative;
   padding-bottom: 0.15em;

   &:after {
      content: '';
      margin-left: var(--grid-gap);
      width: 1px;
      height: 1px;
      display: inline-block;
      vertical-align: baseline;
      background-color: var(--dark-border-color);

      transform: scale3d(1260,1,1);
      transform-origin: top left;
   }
}

#projects {
   --gap: var(--grid-gap);
   @media screen and (min-width: 1200px) {
      --gap: calc(var(--grid-gap) * 2);
   }

   list-style: none;

   display: flex;
   flex-wrap: wrap;
   margin-left: calc(-1 * var(--gap));
   margin-right: calc(-1 * var(--gap));
}

.project {
   padding: var(--gap);

   @media screen and (min-width: 690px) {
      width: 50%;
   }

   h3 {
      font-size: 1.15em;
      color: var(--dark-highlight);
      margin-bottom: 0.25em;
      font-weight: 400;
      transition: color $transition-default;
   }

   p {
      font-weight: 500;
      font-size: 0.9em;
      color: var(--dark-color);
   }

   a:hover {
      img {
         transform: scale3d(1.15, 1.15, 1.15);
         opacity: 0.75;
      }

      h3 {
         color: var(--primary-color);
      }
   }
}

.project-thumb-container {
   position: relative;
   overflow: hidden;
   margin-bottom: 1rem;

   img {
      transition: all 3s ease;
   }
}